@import "sass-modules/mixins";
@import "sass-modules/vars";
@import "sass-modules/preloader";
@import "sass-modules/navigation";
@import "sass-modules/searchbar";
@import "sass-modules/common";

// Banner section customize
.bnr {
  position: relative;
  min-height: 880px;
}

.bnr-inr-wrp {
  width: 100%;
  height: 100%;
}

.bnr-cnt {
  margin-left: 75px;
  h1 {
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    span {
      display: block;
    }
  }

  p {
    line-height: 35px;
    margin-top: 30px;
    margin-bottom: 70px;
  }

  .bnr-form-title {
    font-weight: 500;
  }
  form {
    margin-top: 40px;
  }
}

.bnr .bnr-img {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;

  img {
    width: 300px;
    @include sm {
      width: 450px;
    }
    @include md {
      width: 400px;
    }
    @include lg {
      width: 650px;
    }
    @include xl {
      width: 750px;
    }
    @include xxl {
      width: 870px;
    }

    @include xxxl {
      width: 950px;
    }

    @include xxxxl {
      width: 1050px;
    }
  }
}
