// font-family: 'Poppins', sans-serif;
// font-family: 'Inter', sans-serif;

//General Styling
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 80%;

  @include md {
    font-size: 90%;
  }
  @include lg {
    font-size: 100%;
  }
}

body {
  position: relative;
}

.row {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  color: $font-purple;
}

p {
  color: $font-secondary;
  opacity: 0.9;
  font-weight: 400;
  font-size: 1.025rem;
  line-height: calc(1.025rem * 2);
}

button,
input[type="submit"],
a {
  font-family: "Poppins", sans-serif !important;
  font-size: 1rem;
}

.zen-sec {
  a {
    font-family: "Poppins", sans-serif !important;
    font-size: 1.1rem;
    font-weight: bold;
    color: $accent;
    position: relative;
    text-decoration: none !important;
    transition: all 0.4s ease;
    span {
      margin-left: 20px;
      transition: all 0.25s ease;
    }
  }

  a:after {
    content: "";
    position: absolute;
    width: 6px;
    height: 2px;
    background-color: $accent;
    top: 50%;
    right: 20px;
    transform: translateY(-75%);
    transition: all 0.4s ease;
  }

  a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: $font-purple;
    top: 50%;
    left: 0;
    transform: translateY(-75%);
    transition: all 0.3s;
    transition-timing-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }

  a:hover {
    color: $accent;
    margin-left: 15px;
    span {
      margin-left: 25px;
    }
  }

  a:hover:before {
    width: 100px;
  }

  a:hover:after {
    right: 20px;
    width: 3px;
  }
}

input[type="email"] {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  @include box-shadow;

  @include lg {
    padding: 12px 30px;
  }
}

input[type="submit"],
button {
  border: none;
  color: $color-white;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  transition-duration: 0.4s !important;
  transition-timing-function: ease !important;
  transition-property: background-color !important;
  margin-top: 0.8rem;
  margin-left: 0px;
  border-radius: 4px;
  position: relative;
  background-color: $accent;
  background: linear-gradient(
    45deg,
    rgba(red($purple), green($purple), blue($purple), 0.9) 0%,
    rgba(red($accent), green($accent), blue($accent), 0.9) 100%
  );
  @include button-shadow;

  @include sm {
    margin-top: 0;
    margin-left: 15px;
  }
  @include lg {
    padding: 12px 25px;
  }
}

input[type="submit"]:hover,
button:hover {
  background-color: rgb(12, 8, 255);
}

input[type="submit"]:focus,
button:focus,
input:focus {
  outline: none;
}

.ftr-bg-1,
.ftr-bg-2 {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.ftr-bg-1 {
  left: 0;
}

.ftr-bg-2 {
  right: 0;
}

.scr-top {
  background: linear-gradient(
    45deg,
    rgba(red($purple), green($purple), blue($purple), 0.9) 0%,
    rgba(red($accent), green($accent), blue($accent), 0.9) 100%
  );
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: fixed;
  bottom: 10rem;
  right: 3rem;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
  @include lg {
    bottom: 100px;
    right: 100px;
  }

  i {
    display: block;
    color: $color-white;
    line-height: 3rem;
  }
}

.scr-top:hover {
  background-color: rgb(12, 8, 255);
}
