.searchbar {
  background-color: $accent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.4s ease;
  height: 3rem;
  width: 3rem;
  border-radius: 2rem;
  overflow: hidden;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9;
  @include md {
    position: relative;
    bottom: inherit;
    right: inherit;
  }

  ::placeholder {
    color: $color-white;
  }
  .search_input {
    background-color: $accent;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 0.9rem;
    margin-right: 3rem;
    padding-left: 2.2rem;
    line-height: 100%;
    transform: scaleX(0);
    z-index: 999;
    color: $color-white !important;
    transition: all 0.4s ease;
  }
  .search_icon {
    position: absolute;
    margin-top: 0;
    margin-left: 0;
    right: 0;
    @include gradient-top;
    border: none;
    border-radius: 50%;
    color: $color-white;
    width: 3rem;
    height: 3rem;
    text-align: center;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    i {
      font-size: 0.9rem;
    }
  }
}

.searchbar:hover {
  width: 18rem;
  @include lg {
    width: 25rem;
  }

  .search_input {
    transform: scaleX(1);
  }
  .search_icon {
    background: transparent;
    i {
      background-color: $color-white;
      color: $font-purple;
      padding: 5px;
      border-radius: 50%;
    }
  }
}
